main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    .collapses{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}