.LogementPage {
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
     
    }
    .Blocs {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap:20px;
        }
            .Titles {
                display: flex;
                flex-direction: column;
                font-weight: 500;
                gap:20px;
                @media screen and (max-width: 768px) {
                   
                }
                h1 {
                    color: #FF6060;
                    font-size: 36px;
                    font-weight: 500;
                    font-family: sans-serif;
                    margin : 0;
                    margin-top: 25px;
                    @media screen and (max-width: 768px) {
                        font-size: 18px;
                        margin-top: 10px;
                    }
                }
                h2 {
                    color: #FF6060;
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 500;
                    margin: 0px;;
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
         
         .BlocUser {
            display: flex; 
            flex-direction: column;
            gap:20px;
            justify-content: space-around;
            @media screen and (max-width: 768px) {
                flex-direction: row-reverse;
                gap: unset;
                justify-content: space-between;
             }
        }
    }
}


  