.Collapses {
    display: flex;
    flex-direction: row; 
    margin-bottom: 70px;
    margin-top: 30px;
    justify-content: space-between; 
    .Collapse {
      flex: 1; 
      .Header {
        background-color: #FF6060;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
  
        h3 {
          color: white;
          margin-left: 20px;
        }
  
        .arrow {
            transition: all 0.2s ease-in-out;
            &_up {
              transform: rotate(0deg);
              margin-right: 20px;
            }
            &_down {
              transform: rotate(180deg);
              margin-right: 20px;
            }
          }
      }
  
      .Collapse__Description {
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        color: #FF6060; 
        background: #F6F6F6; 
        padding: 20px;
      }
  
      .Collapse__Equipement {
        list-style: none;
        padding: 10px;
        margin: 0;
        background: #F6F6F6;  
        li {
          color: #FF6060; 
          
        }
      }
    }
    .Collapse + .Collapse {
        margin-left: 60px;
    }
  }