// .card-container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   justify-content: space-between;
//   border-radius: 25px;
//   overflow: hidden;
//   background-color: #f6f6f6;
//   width: 95%;
//   flex-direction: column;
// }

.Cards {
  display: flex;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Affiche 3 cartes par ligne */
  gap: 20px;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  background-color: #f6f6f6;
  width: 95%;
  margin-bottom: 35px;
}