.collapse{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 75px;
  margin-right: 75px;
  .header{
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 {
      color : white;
      margin-left: 20px;
    }
    .arrow {
      transition: all 0.2s ease-in-out;
      &_up {
        transform: rotate(0deg);
        margin-right: 20px;
      }
      &_down {
        transform: rotate(180deg);
        margin-right: 20px;
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 1px;
    color: #FF6060;
    background: #F6F6F6;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    .content-item {
    margin-left: 20px;
    margin-right: 20px;
    }
  }
}

