.notFound {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    img {
        margin: 65px;
    }
    p {
        color: #FF6060;
        font-size: 24px; 
        font-weight: 400;
    }
    &_link {
        margin: 100px;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 768px) {
   .notFound {
        &_txt {
            font-size: 18px;
     }
   }
}
   


